export const firebaseConfig = {
    /* 
    FirebaseからConfigを取得して書き込みます（コンソール -> 設定）
    */
    apiKey: "",
    authDomain: "",
    projectId: "",
    storageBucket: "",
    messagingSenderId: "",
    appId: ""
}
